flexbox()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

flex()
  -webkit-box-flex: arguments
  -moz-box-flex: arguments
  -webkit-flex: arguments
  -ms-flex: arguments
  flex: arguments
  
flex-wrap()
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  
flex-justify()
  -webkit-justify-content: arguments
  justify-content: arguments
  
headercolor = rgb(56, 102, 124)
headerbordercolor = headercolor*0.8
headerhighlightcolor = headercolor*1.25

h1
  line-height: 28px

h3
  margin: 40px 0 0 0

body
  margin: 0px
  padding: 0px
  background-color: #000
  background-repeat: no-repeat
  background-position: center top
  background-image: url(https://forums.handmadehero.org/images/home_1920x1080.jpg)
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 18px
  color: #222

  a
    color: #995200
    text-decoration: none

    &:hover
      color: #995200
      text-decoration: underline

  &>header
    position: fixed
    width: 100%
    top: 0px
    margin: 0px
    padding: 0px 0px 4px 0px
    min-height: 24px
    line-height: 24px
    font-size: 16px
    background-color: headercolor
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 1), inset 0px -10px 4px -8px rgba(0, 0, 0, 1)
    
    nav
      margin: auto
      max-width: 1024px

      ul
        flexbox()
        flex-wrap()
        flex-justify: space-around
        list-style-type: none
        margin: 0
        padding: 0
        border-right: 1px solid headerbordercolor

        li
          display: inline-block
          flex: 1 1 auto
          border-left: 1px solid headerbordercolor

          &#activenav
            background-color:#46809b
          
          &#sitelabel
            padding: 4px
            font-size: 18px
            font-weight: bold
            color: #648fa3
            text-shadow: 1px 1px 2px rgba(0,0,0,0.25)
            text-align: center
            
          a
            display: block
            padding: 4px
            color: #ccc
            text-align: center
            
            &:hover
              background-color: headerhighlightcolor
              text-decoration: underline
              color: #fff
            &:visited
              color: #ccc

  #outer_holder
    margin: 0 auto
    margin-top: 64px
    max-width: 1014px
    
    @media screen and (min-width: 1320px)
      max-width: 1300px
    
    .back
      margin: 0px auto 20px auto
      box-shadow: 0px 0px 128px 20px rgb(0, 0, 0)
      
      .outer
        flexbox()
        flex-wrap()
        align-items: flex-start
        flex-justify: center
        padding: 5px
        background-color: #888
                  
        &>article
          flex: 1 1 50%

          ul
            list-style-type: none
            margin: 0px
            padding: 0px

          li
            margin: 0px 0px 8px 0px
            padding: 0px

        article
          margin: 5px
          box-shadow: 0px 0px 4px rgb(0, 0, 0)
          background-color: #ddd

        &>article
          padding: 40px
          min-width: 300px
          
        &>.sidebar
          max-width: 260px

          &>div
            margin: 6px
            box-shadow: 0px 0px 4px rgb(0, 0, 0)
            background-color: #ddd
            width: 200px
            margin-bottom: 12px

#player-wrapper
  display: inline-block
  flex: 0 1 auto
  margin: 5.5px
  box-shadow: 0px 0px 4px rgb(0, 0, 0)
    
  #player
    @media screen
      width: 320px
      height: 210px
      
    @media screen and (min-width: 500px)
      width: 480px
      height: 300px

    @media screen and (min-width: 670px)
      width: 640px
      height: 390px
      
    @media screen and (min-width: 890px)
      width: 854px
      height: 510px
    
    @media screen and (min-width: 1320px)
      width: 1280px
      height: 750px

nav.timecodes
  margin: 5.5px
  margin-right: 7.5px
  max-width: 300px
  max-height: 700px
  overflow-y: auto
  flex: 0 0 auto
  box-shadow: 0px 0px 4px rgb(0, 0, 0)
  
  a
    color: #ccc
  
  ul[name=markers]
    margin: 0px
    padding: 0px
    list-style-type: none
    font-size: 11px
    
    &>li
      padding: 5px
      display: block
      border-bottom: 1px solid #333
      background-color: #666
      color: #ddd
        
      &:hover
        background-color: #555
      
      a
        display: block
        text-decoration: none

#video-notes
  min-height: 700px

  pre
    margin-left: 10px
    margin-right: 30px
    margin-bottom: 1.5em
    padding: 10px
    border-radius: 6px
    background-color: #555
    color: #cba

#game_icon 
  background-position: 0px 0px
  background-repeat: no-repeat
  background-image:url(/images/hero_home_200x114.png)
  background-size:cover
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.7)
  height: 113px
  margin: 0px 0px 4px 0px

.sidebar-heading
  margin: 0px 0px 16px
  font-size:18px
  line-height:24px
  font-weight:bold
  color:#00547C
  white-space: nowrap
  text-shadow:1px 1px 2px rgba(0,0,0,0.25)
  text-align:center

#game_ad
  padding: 10px

#game_description 
  font-size: 13px
  text-align: left
  line-height: 21px
  color:#666

#purchase_buy 
  margin: 6px 0px 0px 0px
  padding: 12px 0px 0px 0px
  text-align: center

#buy_now
  color: #C9D7DE
  background-color: #38667C
  padding: 6px 16px 10px 16px
  text-align: center
  font-size: 13px
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), inset 0px -10px 4px -8px rgba(0, 0, 0, 1.0)
  font-weight: bold
  
#buy_now:hover
  background-color: #6B93A7
  color: #fff
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 1.0), inset 0px -10px 4px -8px rgba(0, 0, 0, 1.0)

#paypal
  text-align: center
  margin: 14px 0 -3px 0
  font-size: 12px
